<form action="edita_ticket" method='POST'>
  <h1>INGRESA ID DEL TICKET QUE DESEA EDITAR</h1>

  <input type='number' name='ID' placeholder='IDENTIFICACION'>
  <h2>INGRESA CAMPOS DEL TICKET QUE DESEA EDITAR</h2>
  <input type='text' name='USUARIO' placeholder='Usuario'>
  <input type='date' name='fechaCreacion' placeholder='fecha de creacion'>
  <input type='date' name='fechaActualizacion' placeholder='fecha de actualizacion'>
  <input type='text' name='estatus' placeholder='Estatus'>
  <button type="submit">
    EDITAR
  </button>

</form>
